.login {
  height: 100vh;
  background-image: url("../../assets/background_banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding-top: 24px;
}

.login__img {
  width: 148px;
  height: 40px;
}

.login__area {
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e),
    url("../assets/background_banner.jpg");
    padding: 20px 8%;
}

.login__area--top {
    display: flex;
  align-items: start;
  justify-content: center;
}

.top__selector {
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px 10px;
  border: 1px solid grey;
  transition: all 300ms ease;
}

.top__selector:focus {
  outline: none;
  border: 2px solid white;
}

.login__form {
    width: 100%;
    max-width: 450px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}

.login__form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.login__form input {
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}

.login__form::placeholder {
    font-size: 16px;
    font-weight: 500;
}


